<div class="header">

  <div class="header__form">
    <input class="header__form__input" id="color-form-input" autocomplete="off" type="color" />
    <button class="btn" onclick="setColor()">Set Color</button>
  </div>

  <form class="header__form" id="username-form">
    <input class="header__form__input" id="username-form-input" autocomplete="off" />
    <button class="btn">Set Name</button>
  </form>
  <p><span id="info-connections">0</span> connections</p>

</div>
<ul class="main" id="chat-messages"></ul>
<div class="chat" id="chat">
  <textarea id="textarea" class="chat__textarea"></textarea>
  <div class="btn" id="send">Send</div>
</div>
